.mainSvgContent {
    // Crate a resposible circle
    width: 700px;
    height: 700px;

    margin: 0 100px;

    background: linear-gradient(119deg, #d23735 0%, #9a2626 32%, #671313 94%);
    box-shadow: 10px 10px 250px rgba(226.31, 12.26, 12.26, 0.25);

    border-radius: 9999px;
    border: 0.5px rgba(0, 0, 0, 0.3) solid;
}

@media only screen and (max-width: 640px) {
    .mainSvgContent {
        width: 300px;
        height: 300px;
    }
}
@media only screen and (max-width: 768px) {
    .mainSvgContent {
        width: 350px;
        height: 350px;
    }
}
