@use "variables.module.scss" as *;

.main {
  min-height: 100vh;

  & .title {
    font-family: $font-family;
    font-weight: 700;
    font-size: clamp(40px, 4vw, 7vw);
    /* or 88% */
    padding-bottom: 20px;

    display: flex;

    & .redColor {
      color: $secondary-color;
      margin: 10px;
    }

    & .grayColor {
      color: $font-color;
      opacity: 0.5;
    }
  }

  & .info {
    font-family: $font-family;
    color: white;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.85px;
    word-wrap: break-word;

    margin: 30px 0;
  }

  & .quote {
    text-align: right;
    margin: 30px 55px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-family: $font-family;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 0.65px;
    word-wrap: break-word;
  }

  & .quoteCenter {
    text-align: center;
  }

}
