@import "variables.module.scss";

.topBar {
  position: absolute;
  width: 100%;
  z-index: 1;

  & .topBarContent {
    font-family: $font-family;

    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.05em;

    color: #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 3vh 0;

    & .home {
      font-size: clamp(20px, 4vw, 1.2vw);
      margin: 0 5vw;
    }

    & .item {
      font-size: clamp(15px, 4vw, 0.9vw);
      margin: 0 5vw;
    }

    a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.main {
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: $font-family;
  color: $font-color;

  background: linear-gradient(308.81deg, #222124 0%, #0f0f0f 54.47%, #050505 94.47%);

  & .container {
    width: 100%;
    padding-right: 15px;
  }

  & .title {
    font-family: $font-family;
    font-weight: 700;
    font-size: clamp(60px, 4vw, 7vw);
    line-height: clamp(65px, 4vw, 6vh);
    /* or 88% */
    letter-spacing: 0.05em;

    padding-bottom: 60px;
  }

  & .info {
    font-family: $font-family;
    font-weight: 200;
    font-size: clamp(20px, 4vw, 1vw);
    line-height: clamp(25px, 4vw, 2.5vh);
    /* or 176% */
    letter-spacing: 0.05em;
    padding-bottom: 20px;

    color: #ffffff;
  }

  & .svgContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & .mainSvgContent {
      position: absolute;
      width: 100%;
      height: 100vh;
    }
    & .sideLeftSvgContent {
      position: absolute;
      width: 100%;
      height: 100vh;
    }
  }
  @media only screen and (max-width: 640px) {
    .svgContainer {
      right: 100px;
      width: 450px;
    }
  }
  @media only screen and (max-width: 768px) {
    .svgContainer {
      right: 220px;
      width: 550px;
    }
  }
}

.bottomContainer {
  background: url("../assets/bottom_circle.svg");

  background-position: center;

  position: fixed;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  right: 0px;
  bottom: 0px;
}
